In [17]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from collections import Counter
import os

In [18]:
shelter_dogs_df = pd.read_csv(Path('./Resources/ShelterDogs.csv'))
shelter_dogs_df.head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
shelter_dogs_df = shelter_dogs_df.drop('date_found', axis=1)
shelter_dogs_df.head()

,ID,name,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
shelter_dogs_df = shelter_dogs_df.drop('name', axis = 1)
shelter_dogs_df.head()

,ID,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
shelter_dogs_df = shelter_dogs_df.drop('keep_in', axis =1)
shelter_dogs_df.head()

,ID,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats
0,23807,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN
1,533,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes
2,23793,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# data pull was conducted on 12-12-2019 --- adding column with this date
shelter_dogs_df['posted']= pd.to_datetime(shelter_dogs_df['posted'])
shelter_dogs_df['posted_delta']= np.datetime64('2019-12-12')- shelter_dogs_df['posted']
shelter_dogs_df.head()

,ID,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,posted_delta
0,23807,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days
1,533,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,3 days
2,23793,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days
3,23795,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days
4,23806,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days

In [23]:
shelter_dogs_df.assign(shelter_time = shelter_dogs_df['posted_delta'].dt.days)

,ID,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,posted_delta,shelter_time
0,23807,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1
1,533,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,3 days,3
2,23793,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4
3,23795,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4
4,23806,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,118,16.92,male,Unknown Mix,2003-12-25,2006-03-22,yellow-brown,short,medium,no,no,yes,yes,no,yes,no,5013 days,5013
2933,262,17.33,female,Staffordshire Terrier Mix,2004-08-27,2005-07-08,striped,short,large,yes,NaN,NaN,NaN,NaN,NaN,NaN,5270 days,5270
2934,4,18.17,male,Unknown Mix,2005-09-21,2005-10-26,black,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,5160 days,5160
2935,141,17.17,male,Unknown Mix,2004-11-27,2005-05-02,black and brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,5337 days,5337
2936,248,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,2005-06-30,sable,short,medium,yes,NaN,yes,NaN,yes,yes,NaN,5278 days,5278

In [24]:
shelter_dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   age                2937 non-null   float64
 2   sex                2937 non-null   object
 3   breed              2937 non-null   object
 4   adoptable_from     2937 non-null   object
 5   posted             2937 non-null   datetime64[ns]
 6   color              2937 non-null   object
 7   coat               2937 non-null   object
 8   size               2937 non-null   object
 9   neutered           1852 non-null   object
 10  housebroken        460 non-null    object
 11  likes_people       1999 non-null   object
 12  likes_children     1219 non-null   object
 13  get_along_males    1633 non-null   object
 14  get_along_females  1673 non-null   object
 15  get_along_cats     431 non-null    object
 16  posted_delta       2937 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(13), timedelta64[ns](1)
memory usage: 390.2+ KB

In [25]:
shelter_dogs_df['shelter_time'] = shelter_dogs_df['posted_delta']
shelter_dogs_df['shelter_time'] = shelter_dogs_df.loc[:, 'posted_delta']

shelter_dogs_df.head()

,ID,age,sex,breed,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,posted_delta,shelter_time
0,23807,0.25,female,Unknown Mix,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1 days
1,533,0.17,female,Unknown Mix,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,3 days,3 days
2,23793,4.00,male,Unknown Mix,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4 days
3,23795,1.00,male,Unknown Mix,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4 days
4,23806,2.00,female,French Bulldog Mix,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1 days

In [26]:
X = shelter_dogs_df[['ID', 'posted_delta']]
y = shelter_dogs_df[['age']]

print("Shape: ", X.shape, y.shape)

Shape:  (2937, 2) (2937, 1)

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [29]:
shelter_dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   age                2937 non-null   float64
 2   sex                2937 non-null   object
 3   breed              2937 non-null   object
 4   adoptable_from     2937 non-null   object
 5   posted             2937 non-null   datetime64[ns]
 6   color              2937 non-null   object
 7   coat               2937 non-null   object
 8   size               2937 non-null   object
 9   neutered           1852 non-null   object
 10  housebroken        460 non-null    object
 11  likes_people       1999 non-null   object
 12  likes_children     1219 non-null   object
 13  get_along_males    1633 non-null   object
 14  get_along_females  1673 non-null   object
 15  get_along_cats     431 non-null    object
 16  posted_delta       2937 non-null   timedelta64[ns]
 17  shelter_time       2937 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(13), timedelta64[ns](2)
memory usage: 413.1+ KB

In [30]:
shelter_dogs_df['shelter_time'].astype(int)

/Users/annietresca/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: casting timedelta64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

0           86400000000000
1          259200000000000
2          345600000000000
3          345600000000000
4           86400000000000
               ...
2932    433123200000000000
2933    455328000000000000
2934    445824000000000000
2935    461116800000000000
2936    456019200000000000
Name: shelter_time, Length: 2937, dtype: int64

In [31]:
classifier.fit(X_train, y_train)

TypeError: float() argument must be a string or a number, not 'Timedelta'