In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
file = "Resources/ShelterDogs.csv"
df = pd.read_csv(file)
df.head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
practice_df = df[['ID', 'adoptable_from', 'age']]

In [4]:
practice_df.head()

      ID adoptable_from   age
0  23807     2019-12-11  0.25
1    533     2019-12-01  0.17
2  23793     2019-12-23  4.00
3  23795     2019-12-23  1.00
4  23806     2019-12-11  2.00

In [5]:
practice_df2 = df[['ID', 'adoptable_from', 'likes_people', 'likes_children', 'get_along_males', 'get_along_females', 'get_along_cats']]

In [6]:
practice_df2.head()
#### need to revisit later to assess for volume of null values

,ID,adoptable_from,likes_people,likes_children,get_along_males,get_along_females,get_along_cats
0,23807,2019-12-11,NaN,NaN,NaN,NaN,NaN
1,533,2019-12-01,yes,yes,yes,yes,yes
2,23793,2019-12-23,NaN,NaN,NaN,NaN,NaN
3,23795,2019-12-23,NaN,NaN,NaN,NaN,NaN
4,23806,2019-12-11,NaN,NaN,NaN,NaN,NaN